############################
# IntelliJ IDEA
############################
.idea/
*.iml
out/

############################
# Maven
############################
target/
!.mvn/wrapper/maven-wrapper.jar

############################
# Logs
############################
*.log
logs/

############################
# Sistema Operacional
############################
.DS_Store
Thumbs.db

############################
# Arquivos temporários
############################
*.tmp
*.swp
*.swo

############################
# Ambiente
############################
.env
.env.*

############################
# Compilações
############################
*.class

############################
# VS Code
############################
.vscode/

############################
# Eclipse
############################
.project
.classpath
.settings/